In [87]:
import pandas as pd
# 파일 불러오기 (파일내에 필요한 sheet 추출)
locdf1 = pd.read_excel("./data/industry_location.csv",
                    sheet_name="국가",
                    skiprows=4,
                    )
# 필요한 컬럼만 추출하기
subset1 = locdf1.loc[:, ['유형', '시도', '시군', '단지명']] # 전체 행 중에 유형, 시도 , 시군 단지명 컬럼정보 추출
display(subset1)

    유형  시도   시군            단지명
0   국가  서울  구로구         한국수출산업
1   국가  서울  구로구          서울디지털
2   국가  부산  강서구          명지·녹산
3   국가  부산  강서구     녹산지구(산업단지)
4   국가  부산  강서구           명지지구
..  ..  ..  ...            ...
80  국가  경남  사천시           경남항공
81  국가  경남  사천시     경남항공(사천지구)
82  국가  경남  진주시     경남항공(진주지구)
83  국가  제주  제주시       제주첨단과학기술
84  국가  제주  제주시    제주첨단과학기술2단지

[85 rows x 4 columns]

In [88]:
locdf2 = pd.read_excel("./data/industry_location.csv",
                    sheet_name="일반",
                    skiprows=6,
                    )
# 필요한 컬럼만 추출하기
subset2 = locdf2.loc[:, ['유형', '시도', '시군', '단지명']] # 전체 행 중에 유형, 시도 , 시군 단지명 컬럼정보 추출
display(subset2)

     유형  시도         시군         단지명
0    일반  서울        구로구        서울온수
1    일반  서울        강서구          마곡
2    일반  부산        강서구        부산과학
3    일반  부산        강서구        부산과학
4    일반  부산        강서구     지사(외국인)
..   ..  ..        ...         ...
713  일반  경남        사천시   용당(항공MRO)
714  일반  경남        창녕군      대성하이스코
715  일반  경남        고성군          이당
716  일반  경남  창원시 마산회원구          평성
717  일반  제주        제주시        용암해수

[718 rows x 4 columns]

In [89]:
locdf3 = pd.read_excel("./data/industry_location.csv",
                    sheet_name="도시첨단",
                    skiprows=5,
                    )
# 필요한 컬럼만 추출하기
subset3 = locdf3.loc[:, ['유형', '시도', '시군', '단지명']] # 전체 행 중에 유형, 시도 , 시군 단지명 컬럼정보 추출
display(subset3)
print(type(locdf3))

      유형  시도         시군                    단지명
0   도시첨단  부산        강서구               부산에코델타시티
1   도시첨단  부산       해운대구                  회동.석대
2   도시첨단  부산        사상구                     모라
3   도시첨단  부산         북구                     금곡
4   도시첨단  대구         동구   대구신서혁신도시(공공주택지구)도시첨단
5   도시첨단  대구         동구                     율하
6   도시첨단  인천         서구          IHP(인천경제자유구역)
7   도시첨단  인천        남동구                     남동
8   도시첨단  광주         남구                     남구
9   도시첨단  세종         세종         행정중심복합도시4-2생활권
10  도시첨단  경기        화성시                 동탄도시첨단
11  도시첨단  경기        용인시                 용인기흥힉스
12  도시첨단  경기        양주시                     회천
13  도시첨단  경기        용인시              용인기흥ICT밸리
14  도시첨단  경기        용인시                 용인일양히포
15  도시첨단  경기        안양시               평촌스마트스퀘어
16  도시첨단  경기    성남시 수정구  판교제2테크노밸리(구 판교창조경제밸리)
17  도시첨단  경기        광명시              광명시흥첨단R&D
18  도시첨단  강원        춘천시               춘천도시첨단문화
19  도시첨단  강원        춘천시               춘천도시첨단정보
20  도시첨단  강원        춘천시              삼성SDS춘천센터
21  도시첨단  강원        춘천시       네이버도시첨단(구 춘천NHN)
22  도시첨단  충북        청주시               청주도시첨단문화
23  도시첨단  충북        음성군       충북진천·음성혁신도시 도시첨단
24  도시첨단  충남        태안군                 태안도시첨단
25  도시첨단  충남        홍성군                 내포도시첨단
26  도시첨단  충남        천안시                   천안직산
27  도시첨단  전북        전주시                 전주도시첨단
28  도시첨단  전남        순천시                     순천
29  도시첨단  경남  창원시 마산합포구   창원덴소도시첨단(구 경남지능형홈산업)

<class 'pandas.core.frame.DataFrame'>

In [90]:
locdf4 = pd.concat([locdf1, locdf2, locdf3], ignore_index= True)
subset4 = locdf4.loc[:, ['유형', '시도', '시군', '단지명']]
subset4

# result = pd.concat(locdf4)
# result.loc[:, ['유형', '시도', '시군', '단지명']]

       유형  시도         시군                   단지명
0      국가  서울        구로구                한국수출산업
1      국가  서울        구로구                 서울디지털
2      국가  부산        강서구                 명지·녹산
3      국가  부산        강서구            녹산지구(산업단지)
4      국가  부산        강서구                  명지지구
..    ...  ..        ...                   ...
828  도시첨단  충남        홍성군                내포도시첨단
829  도시첨단  충남        천안시                  천안직산
830  도시첨단  전북        전주시                전주도시첨단
831  도시첨단  전남        순천시                    순천
832  도시첨단  경남  창원시 마산합포구  창원덴소도시첨단(구 경남지능형홈산업)

[833 rows x 4 columns]

In [91]:
treedf1 = pd.read_csv("./data/tree_location.csv", encoding = 'CP949')
treedf1
subset1 = treedf1.loc[:, ['가로수길명', '가로수종류', '가로수수량', '가로수길길이','제공기관명']]
subset2 = subset1.rename(columns = {"제공기관명":"institution"}, inplace = True)
display(subset1)

           가로수길명       가로수종류   가로수수량   가로수길길이 institution
0     삼성면 명품가로숲길   소나무 외 11종   378.0     2.38    충청북도 음성군
1            수영로        은행나무   559.0  4297.00   부산광역시 수영구
2            연수로        은행나무   231.0  1832.00   부산광역시 수영구
3            광남로  은행나무, 왕벚나무   512.0  2873.00   부산광역시 수영구
4          무학천변길        벚나무길    55.0     0.00    충청북도 충주시
...          ...         ...     ...      ...         ...
7209    문거덕계가로수길        은행나무   617.0    15.00    경상북도 청송군
7210    구산천천가로수길        은행나무   364.0     3.40    경상북도 청송군
7211    월막송생가로수길    은행나무+벚나무  1071.0    13.80    경상북도 청송군
7212      감은가로수길        이팝나무    76.0     1.50    경상북도 청송군
7213    자성로133번길        은행나무    88.0  1080.00    부산광역시 동구

[7214 rows x 5 columns]

In [92]:
subset1['시도'] = subset1.institution.str.split(' ').str[0]
subset1['시군'] = subset1.institution.str.split(' ').str[1]
del subset1['institution']
display(subset1)

           가로수길명       가로수종류   가로수수량   가로수길길이     시도   시군
0     삼성면 명품가로숲길   소나무 외 11종   378.0     2.38   충청북도  음성군
1            수영로        은행나무   559.0  4297.00  부산광역시  수영구
2            연수로        은행나무   231.0  1832.00  부산광역시  수영구
3            광남로  은행나무, 왕벚나무   512.0  2873.00  부산광역시  수영구
4          무학천변길        벚나무길    55.0     0.00   충청북도  충주시
...          ...         ...     ...      ...    ...  ...
7209    문거덕계가로수길        은행나무   617.0    15.00   경상북도  청송군
7210    구산천천가로수길        은행나무   364.0     3.40   경상북도  청송군
7211    월막송생가로수길    은행나무+벚나무  1071.0    13.80   경상북도  청송군
7212      감은가로수길        이팝나무    76.0     1.50   경상북도  청송군
7213    자성로133번길        은행나무    88.0  1080.00  부산광역시   동구

[7214 rows x 6 columns]

In [93]:
subset1['가로수길당수량'] = subset1['가로수수량'] / subset1['가로수길길이']
display(subset1)

           가로수길명       가로수종류   가로수수량   가로수길길이     시도   시군     가로수길당수량
0     삼성면 명품가로숲길   소나무 외 11종   378.0     2.38   충청북도  음성군  158.823529
1            수영로        은행나무   559.0  4297.00  부산광역시  수영구    0.130091
2            연수로        은행나무   231.0  1832.00  부산광역시  수영구    0.126092
3            광남로  은행나무, 왕벚나무   512.0  2873.00  부산광역시  수영구    0.178211
4          무학천변길        벚나무길    55.0     0.00   충청북도  충주시         inf
...          ...         ...     ...      ...    ...  ...         ...
7209    문거덕계가로수길        은행나무   617.0    15.00   경상북도  청송군   41.133333
7210    구산천천가로수길        은행나무   364.0     3.40   경상북도  청송군  107.058824
7211    월막송생가로수길    은행나무+벚나무  1071.0    13.80   경상북도  청송군   77.608696
7212      감은가로수길        이팝나무    76.0     1.50   경상북도  청송군   50.666667
7213    자성로133번길        은행나무    88.0  1080.00  부산광역시   동구    0.081481

[7214 rows x 7 columns]

In [119]:
display(subset1.replace({'(.*)충청북도(.*)' : r'\1충북\2', 
                         '(.*)부산광역시(.*)' : r'\1부산\2',
                         '(.*)충청남도(.*)' : r'\1충남\2',
                         '(.*)경상북도(.*)' : r'\1경북\2',
                         '(.*)경상남도(.*)' : r'\1경남\2',
                         '(.*)전라남도(.*)' : r'\1전남\2',
                         '(.*)전라북도(.*)' : r'\1전북\2',
                         '(.*)대구광역시(.*)' : r'\1대구\2',
                         '(.*)울산광역시(.*)' : r'\1울산\2',
                         '(.*)인천광역시(.*)' : r'\1인천\2',
                         '(.*)서울특별시(.*)' : r'\1서울\2',
                         '(.*)대전광역시(.*)' : r'\1대전\2',
                         '(.*)광주광역시(.*)' : r'\1광주\2',
                         '(.*)경기도(.*)' : r'\1경기\2',
                         '(.*)강원도(.*)' : r'\1강원\2'
                        }, regex = True))

           가로수길명       가로수종류   가로수수량   가로수길길이  시도   시군     가로수길당수량
0     삼성면 명품가로숲길   소나무 외 11종   378.0     2.38  충북  음성군  158.823529
1            수영로        은행나무   559.0  4297.00  부산  수영구    0.130091
2            연수로        은행나무   231.0  1832.00  부산  수영구    0.126092
3            광남로  은행나무, 왕벚나무   512.0  2873.00  부산  수영구    0.178211
4          무학천변길        벚나무길    55.0     0.00  충북  충주시         inf
...          ...         ...     ...      ...  ..  ...         ...
7209    문거덕계가로수길        은행나무   617.0    15.00  경북  청송군   41.133333
7210    구산천천가로수길        은행나무   364.0     3.40  경북  청송군  107.058824
7211    월막송생가로수길    은행나무+벚나무  1071.0    13.80  경북  청송군   77.608696
7212      감은가로수길        이팝나무    76.0     1.50  경북  청송군   50.666667
7213    자성로133번길        은행나무    88.0  1080.00  부산   동구    0.081481

[7214 rows x 7 columns]

In [81]:
dustdf1 = pd.read_csv('./data/dust_location.csv', encoding ='CP949')
# dustdf1

subset1 = dustdf1.loc[:, ['측정망별(2)', '측정망별(4)', '2019. 03' , '2019. 04', '2019. 05', '2019. 06', '2019. 07', '2019. 08', '2019. 09',
                         '2019. 10', '2019. 11', '2019. 12', '2020. 01', '2020. 02', '2020. 03']]
subset1

,측정망별(2),측정망별(4),2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,2020. 01,2020. 02,2020. 03
0,서울,중구,62,35,44,23,26,24,20,27,36,40,41,40,41
1,서울,종로구,61,35,44,24,25,24,20,27,37,42,43,42,43
2,서울,중랑구,60,32,42,22,22,21,14*,45**,40,42,42,41,45
3,서울,동대문구,63,33,42,22,22,21,16*,43**,42,43,39,39,40
4,서울,은평구,70,44,57,31,26*,26,22,29,37,40,39,38,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,충남,성성동,85,58,66,48,34,33,31,47,57,55,66,58,57
521,전북,금암동,73,48,49,41,26,29*,30,39,51,-,-,-,-
522,전북,서신동,-,-,-,-,-,-,-,-,-,34**,-,-,-
523,경남,반송로,55,46,53,39,-,-,-,23,31,30,28,31,29
524,제주,노형로,-,-,-,-,-,-,-,-,-,31,32,37,44