In [33]:
import pandas as pd
subway = pd.read_csv("./data/subway1_utf8.csv",index_col=0)
subway

            호선명         역명  승차총승객수  하차총승객수      등록일자
사용일자
20201009  우이신설선   4.19민주묘지    2173    1865  20201012
20201009    경원선         가능    4462    4216  20201012
20201009    3호선       가락시장    5584    5454  20201012
20201009    8호선       가락시장    4963    5738  20201012
20201009    경부선    가산디지털단지    5326    7114  20201012
...         ...        ...     ...     ...       ...
20200901    경원선         회룡    9773    9678  20200904
20200901    4호선  회현(남대문시장)   17375   18162  20200904
20200901    6호선      효창공원앞    5744    5107  20200904
20200901    경의선      효창공원앞    2313    2559  20200904
20200901    9호선  흑석(중앙대입구)    5681    6116  20200904

[23260 rows x 5 columns]

In [34]:
weather = pd.read_csv("./data/weather1.csv", encoding="cp949", index_col=2)
weather

                   지점 지점명  강수량(mm)
일시
2020-01-01 03:00  108  서울      0.0
2020-01-01 06:00  108  서울      0.0
2020-01-01 09:00  108  서울      0.0
2020-01-01 12:00  108  서울      0.1
2020-01-06 12:00  108  서울      0.0
...               ...  ..      ...
2020-10-04 01:00  108  서울      0.0
2020-10-04 02:00  108  서울      0.0
2020-10-04 03:00  108  서울      0.0
2020-10-04 04:00  108  서울      0.0
2020-10-04 18:00  108  서울      0.0

[1008 rows x 3 columns]